<!-- <div class="popup-wrapper-all">
  <div class="popup-main-all">
	<div class="klaviyo-form-WpxHQA"></div>
  </div>
</div> -->


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<style>
@media screen and (max-width: 1031px){

/* div#shopify-section-email-popup-all.popup-wrapper-all .popup-main-all .klaviyo-form-WpxHQA.klaviyo-form.form-version-cid-1 form [data-testid=form-row]>div:nth-child(2) {
    right: -12 !important;
}
button.needsclick.go332817621.kl-private-reset-css-Xuajs1 {
    left: -13px!important;
}
  .popup-wrapper-all .popup-main-all .klaviyo-form-WpxHQA.klaviyo-form.form-version-cid-1 form [data-testid=form-row]>div>div {
    max-width: 55%;
    top: 20px;
}


} */
</style>