<div class="main popup-wrapper" id="myDIV">
  <div class="popup-overlay"></div>
  <div class="popup-main">
    <button class="close-btn"><img src="{{ "close_small.png" | asset_img_url }}"></button>
    <div class="klaviyo-form-VpkmRK"></div>
  </div>
</div>