<div class="page-width text-sect">

  <h2>Seating</h2>

  <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
  <p>ullamcorper suscipit wisi enim ad minim veniam, quis nostru. </p>

</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
