.act-dtl-head{
  font-size: 30px;
  line-height: normal;
  letter-spacing: normal;
}

@media only screen and (min-width:768px){p.nnn span{font-size:30px!important}.fon-size-new{font-size:30px!important}}@media only screen and (max-width:768px){p.nnn span{font-size:18px!important;line-height:30px!important}.fon-size-new{font-size:18px!important}}.site-footer__item-inner--newsletter .newsletter__input{margin:5px 0 0 0;BACKGROUND-COLOR:#f6f1ed;width:100%}.feature-row .feature-row__image-wrapper.js img{max-width:100%!important;max-height:100%!important}.feature-row .feature-row__image-wrapper.js{max-width:100%!important}.feature-row__image-wrapper{margin:0 auto;position:relative;width:100%}div#shopify-section-feature-row{padding-bottom:0}div#shopify-section-feature-row1{padding-top:3px}.feature-row__text{padding-top:279px;padding-bottom:35px;padding-left:40px;padding-right:40px}.group2{left:-16vw;top:3vh}.group span{color:#040404;font-family:Kepler;font-size:1.29vw;font-size:1.5vw;position:relative;font-weight:500}.singlePostBanner>.shg-box-content{top:80px}span.sp2{left:189px}span.sp3{left:357px}.product-card__image-with-placeholder-wrapper{max-width:393px!important}.price__regular,.price__sale{margin-right:-.375rem;margin-bottom:-47px;margin-top:-54px}dl.price.price--listing{position:absolute;left:310px}span.price-item.price-item--regular{margin-bottom:30px;margin-top:20px}.nn{padding-left:0;padding-right:0}.grid__item{padding-left:49px}h1.new-tit{font-family:KeplerStd-Subhead;font-size:50px;font-weight:400;font-stretch:semi-condensed;font-style:normal;line-height:1;letter-spacing:normal;text-align:center;color:#242d2d}.text-sect .new-dis{font-family:Keplerlite;font-size:40px;font-weight:400;font-stretch:normal;font-style:normal;line-height:1.25;letter-spacing:normal;text-align:center;color:#242d2d}.text-sect{text-align:center;padding-bottom:70px;padding-top:270px}.mnhy{display:flex}.feature-row__image-wrapper.js img{width:100%}.ch-first,.ch-first-sec-2{width:50%;max-width:50%}.mnhy.top-pad{padding-top:100px}span.disnew{font-family:Circular-Loom;letter-spacing:0;font-size:16px}.h4.grid-view-item__title.product-card__title{font-family:Circular-Loom;font-size:20px}.marg{margin-top:90px}span.sp4{left:111px}li.site-footer__linklist-item.link-itn{font-family:Tungsten;font-size:23px;font-weight:500}li.grid__item.grid__item--collection-template.small--one-half.new{width:33.33%}.infoWrap{padding-left:32px;margin-right:31px}#s-e13e6ffe-088c-4f85-b9e2-9218c1ab6647{margin-top:516px}div#s-0161244a-f2ac-4057-999d-7e63efd12406{background-color:#edeeed}div#s-bf56bafe-580c-4281-9a67-250d0ee58e2e{background-color:#edeeed}div#s-6f11c456-9334-4f34-89a0-2ac1b2480e95{background-color:#edeeed}.new-pad{float:right!important;padding-left:88px!important}.new-pad{padding-left:0}li.grid__item.new-pad.grid__item--collection-template{padding-left:0!important;padding-bottom:72px}li.grid__item.grid__item--collection-template.small--one-half.new{padding-left:54px}ul.padlin.grid.grid--uniform.grid--view-items{margin-left:35px}.new-col-hed-third h1{font-family:Tungsten;margin-bottom:2px}body.template-page .page-container{overflow:visible}body.template-page .grid.grid--no-gutters.grid--table.site-header__mobile-nav{background:0 0}input.btn{width:100%!important;font-family:Tungsten}h1#LoginHeading{font-family:Tungsten;font-size:49px}.loginhead{font-family:Tungsten;font-size:49px}form#RegisterForm,form#customer_login{font-family:Tungsten;font-size:24px}.grid__item.myaccount__order-history.myorder{padding-left:30px}h1.act-hed{font-family:Tungsten}a#customer_logout_link{font-family:Tungsten;font-size:26px}h2.act-dtl{font-family:Tungsten}h2.act-dtl{font-family:Tungsten;letter-spacing:0;font-size:30px;margin-bottom:34px}a.btn.btn--small{font-family:Tungsten;font-size:25px}.grid__item.myaccount__order-history.myorder h2{letter-spacing:1px;font-family:Tungsten;font-size:30px}.act{padding-left:346px;padding-right:267px}.form-message--error{color:#0a0a0a;border:1px solid #000;background-color:#f4f0ec;padding:1rem 1.3rem;text-align:left;width:100%}.form-message--error .form-message__title{font-size:1.2em;border:none;font-family:Tungsten}.input--error.disclosure__toggle,input.input--error,select.input--error,textarea.input--error{border-color:#151414;background-color:#fff8f8;color:#101010}.grid__item.myaccount__account-details{padding-left:30px;margin-top:0}h2#RecoverHeading{font-family:Tungsten;font-size:30px;letter-spacing:1px}p.sun-hed-repass{margin-bottom:30px}body.template-customers-login footer.site-footer.critical-hidden{padding-top:52px}body.template-customers-register footer.site-footer.critical-hidden{padding-top:52px}body.template-customers-account footer.site-footer.critical-hidden{padding-top:100px}.grid__item.myaccount__order-history.myorder{display:flex}.grid__item.myaccount__account-details{display:flex}.newoo{text-align:center;margin:0 auto;position: unset;}h2.first{width:37%}h2.nhyt a{font-family:Tungsten;font-size:30px;padding-left:30px;margin-top:30px;padding-top:30px}.section-header.bnbg{margin-bottom:21px}h1.add-tit{font-family:Tungsten}button#AddressNewButton{font-family:Tungsten;font-family:30px;font-size:22px}body.template-customers-addresses{font-family:Kepler;font-size:18px}.grid__item.medium-up--one-half.input-grid{padding-left:30px}.grid__item.input-grid{padding-left:30px}form#address_form_new{font-family:Tungsten;font-size:21px}h2.add-tit-ad2{font-family:Tungsten;letter-spacing:1px}.section-header.text-center.new-col-hed.seating-wrap{padding-top:70px;padding-bottom:70px}li.grid__item.new-pad.grid__item--collection-template{padding-top:70px}h1.page-tilt-inner{font-family:Tungsten;letter-spacing:1px;font-size:40px}body.template-page h1,h2,u{font-family:Tungsten}body.template-page p,u,ul{font-size:17px}h2.act-wish{font-size:30px;font-family:Tungsten;letter-spacing:0}.grid__item.nhyjhj{padding-left:30px}body.template-collection .marg{padding-left:228px!important}a.morebutton{font-family:Tungsten;font-size:34px;font-weight:500;padding-bottom:100px;position:absolute;margin-top:30px;bottom:35%}.mnhy.top-pad{padding-top:200px!important}a#s-f0b718ad-6448-41d2-be73-b4c989fd357e{padding-left:16px}@media only screen and (max-width:768px){.act{padding-left:0;padding-right:0}a#s-f0b718ad-6448-41d2-be73-b4c989fd357e{padding-left:6px}div#s-3918b77a-2b2d-4d20-91f6-d54eab41f3f4{margin-left:0;right:0!important}}#shopify-section-header #AccessibleNav .menuLogo{position:absolute;bottom:0!important}a#s-e1f1926d-3503-42b2-a401-ef2e096a66b1{font-weight:700}#s-3918b77a-2b2d-4d20-91f6-d54eab41f3f4{margin-right:30px!important;margin-left:30px!important}@media (max-width:767px){#ContactFooter .input-group__btn{position:absolute;right:0;top:-8px}.site-footer__newsletter .input-group span.input-group__btn button.btn.newsletter__submit{padding:0;display:flex;align-items:flex-end}span.newsletter__submit-text--large img{position:relative;top:3px}.site-footer>.page-width{padding-left:20px!important; padding-right:20px!important;}#s-3918b77a-2b2d-4d20-91f6-d54eab41f3f4{margin-left:0!important;margin-right:0!important}#s-67671ca2-693f-4c2c-bd6e-060f4a6411c4{margin-left:0!important}div#s-f4f238e0-678d-447b-95de-a2c0abe76926{width:auto!important;font-size:20px!important}div#s-f4763921-bafa-41fa-9985-b373b7601fb2{width:auto!important;font-size:20px}#s-0d7fac54-d593-479e-bd15-a2038de5ac58{margin-right:0!important;text-align:center}}.rte a:not(.btn){border-bottom:0 solid currentColor;padding-bottom:0}a#s-8ad877cc-fa7c-44ea-9c9a-c39935a7ad8c{font-weight:700;background-color:#edeeed;letter-spacing:1px}div#s-f4f238e0-678d-447b-95de-a2c0abe76926{width:931.8px;height:241.7px;margin:0 auto;font-family:KeplerStd-ScnCapt;font-size:35px;font-weight:400;font-stretch:normal;font-style:normal;line-height:1.43;letter-spacing:normal;text-align:center;color:#f4f0ec}div#s-f4f238e0-678d-447b-95de-a2c0abe76926 p{color:#f4f0ec;font-family:KeplerStd-ScnCapt;font-weight:400}div#s-f4763921-bafa-41fa-9985-b373b7601fb2{width:931.8px;margin:0 auto;font-family:KeplerStd-ScnCapt;font-size:35px;font-weight:400;font-stretch:normal;font-style:normal;line-height:1.43;letter-spacing:normal;text-align:center;color:#f4f0ec;font-family:Helvetica;font-size:40px;font-stretch:semi-condensed;margin-bottom:40px;margin-top:91px}div#s-f4763921-bafa-41fa-9985-b373b7601fb2 p{color:#f4f0ec}a#s-f0b718ad-6448-41d2-be73-b4c989fd357e{font-weight:600}a#s-9583c399-ac0f-493a-b574-aa599dd5a297{font-weight:600}a.cart__product-title{font-family:Tungsten}h1.cart-header__title{font-family:Tungsten}a.text-link.text-link--accent{font-family:Tungsten}.item-num-main p.not-avail{position:relative;margin-bottom:-30px!important;top:6px!important}@media (min-width:768px) and (max-width:991px){.wishlist div#ZooomyList p.zooomypwishmsg:before{width:18px;height:15px}}@media (min-width:1440px)and (max-width:1500px){dl.price.price--listing{position:absolute;left:232px}}.product-card__title{border-bottom:0 solid transparent!important}@media screen and (max-width:767px){#myDIV .popup-main .kl-private-reset-css-Xuajs1.kl-private-quill-wrapper-Lkqws1 p:first-child strong{font-size:28px!important}#myDIV .popup-main .kl-private-reset-css-Xuajs1.kl-private-quill-wrapper-Lkqws1 p:last-child strong{font-size:18px!important}#myDIV .popup-main .ql-editor p:nth-child(2){display:none}#myDIV .popup-main button.needsclick.go332817621.kl-private-reset-css-Xuajs1::after{width:9px!important;height:18px!important}#myDIV .popup-main form input::-webkit-input-placeholder{font-size:20px!important}#myDIV .popup-main form input:-ms-input-placeholder{font-size:20px!important}#myDIV .popup-main form input::placeholder{font-size:20px!important}}div#s-49690553-7051-4596-be7a-b789e60429b0{position:relative;top:-508px}
.grid__item.myaccount__order-history.myorder th {
  font-family: 'Tungsten';
  font-size: 21px;
  letter-spacing: 0.5px;
}
.myaccount__order-history {
  padding-left: 30px;
}
.myaccount__account-details .address-wrapper {
  padding-right: 15px;
}
.cart__product-information .list-view-item__title a {
  font-size: 21px;
}
#ZoomyWishlistPage .ZoomyWishlistPageGrid .zbodytitle {
  align-items: flex-start;
}
#ZoomyWishlistPage .ZoomyWishlistPageGrid .zprice {
  width: 100px;
}
#ZoomyWishlistPage .ZoomyWishlistPageGrid .zbodytitle {
  line-height: 26px;
}


@media screen and (min-width: 1368px){
  .myaccount{
    padding-left: 68px!important;
  }
}

@media screen and (max-width: 1366px){
  a.btn.btn--small{
    font-size: 20px;
  }
}
@media screen and (max-width: 1100px){
  a.btn.btn--small{
    font-size: 18px;
  }
}

div#s-a0163864-b9d6-4ce5-b726-740ce6a653d8 {
    position: absolute;
    z-index: 11;
    top: 106px;
}
div#s-809ec5d9-bc7e-428e-bd1a-518b465d523d {
    position: absolute;
    bottom: 90px;
    right: 380px;
}


div#s-e5e0bc3f-99c4-4806-87e6-7292987fd0e7 {
    position: absolute;
    right: 36px;
    top: -170px;
  width: 300px;
}




@media screen and (min-width: 769px) and (max-width: 1024px){
div#s-809ec5d9-bc7e-428e-bd1a-518b465d523d {
    position: absolute;
    bottom: 36px;
    right: 175px;
}
  div#s-a0163864-b9d6-4ce5-b726-740ce6a653d8 {
    position: absolute;
    z-index: 11;
    top: 0px;
}

div#s-e5e0bc3f-99c4-4806-87e6-7292987fd0e7 {
    position: absolute;
    right: 15px;
    bottom: 0;
  top: -100px!important;
    width: 300px;
    width: 150px;
}
  div#s-bfa572cc-37c7-4e40-92d3-02a6d5306265 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 274px;
    bottom: 411px;
    transform: translate(-50%, -50%);
}
}

@media screen and (max-width: 768px){
div#s-e5e0bc3f-99c4-4806-87e6-7292987fd0e7 {
    position: absolute;
    right: 36px;
    top: -330px;
    width: 120px;
}
  div#s-809ec5d9-bc7e-428e-bd1a-518b465d523d {
    position: absolute;
    bottom: 30px;
    right: 200px;
}
  
  
}

@media screen and (max-width: 767px){
  .template-customers-addresses .page-width .grid.myaccount{
	padding-left: 0px!important;
    margin-left: 0px!important;
  }
  .myaccount{
    padding-left: 0px!important;
    margin-left: 0px!important;
  }
  .myaccount .grid__item.myaccount__order-history{
    padding-left: 0!important;
  }
  .collection-main header.collection-header{
    
  }
  .customer-wrap {
    padding-left: 15px;
  }
div#s-a0163864-b9d6-4ce5-b726-740ce6a653d8 {
    position: absolute;
    z-index: 11;
    top: 26px;
}
div#s-809ec5d9-bc7e-428e-bd1a-518b465d523d {
    position: absolute;
    bottom: 13px;
    right: 48px;
    width: 204px;
}
  div#s-bfa572cc-37c7-4e40-92d3-02a6d5306265 {
    position: absolute;
    /* top: 316px; */
    left: 10%;
    bottom: 468px;
    top:0;
}
  
  div#s-e5e0bc3f-99c4-4806-87e6-7292987fd0e7 {
    position: absolute;
    right: 4px;
    top: -295px;
    width: 50px;
}
  
  
}


@media (min-width: 768px) and (max-width: 991px){
div#s-a0163864-b9d6-4ce5-b726-740ce6a653d8 {
    position: absolute;
    z-index: 11;
    top: 55px;
}

}

@media (max-width: 1000px){

button.needsclick.go332817621.kl-private-reset-css-Xuajs1::after {
    right: 103px;
}

}

@media screen and (min-width: 1300px){
.popup-wrapper {
    top: 190px!important;
    right: 401px!important;
    position: absolute!important;
}
}

@media screen and (min-width: 1501px) and (max-width: 1539px){
.popup-wrapper {
    top: 248px !important;
    right: 409px !important;
}
}

@media screen and (min-width: 1023px) and (max-width: 1299px){
.popup-wrapper {
    top: 139px!important;
    right: 175px!important;
    position: absolute!important;
}
}

@media screen and (min-width: 1300px) and (max-width: 1365px){
.popup-wrapper {
    top: 199px;
    right: 340px;
position: absolute;
}
}

@media screen and (min-width: 1920px){
.popup-wrapper {
    top: 190px!important;
    right: 635px!important;
    position: absolute!important;
}
}

@media screen and (max-width: 767px){
.popup-wrapper {
    top: 0px;
}
}


.boost-pfs-action-list-wrapper.boost-pfs-action-extend{
  display:none;
}

p.q-par {
    padding-top: 0 !important;
    margin: 0;
    font-size: 30px!important;
  

}
p.q-par-names {
    font-size: 65px !important;
    font-family: 'Tungsten' !important;
    font-weight: 500;
}
address.author-n {
    font-size: 50px;
}
p.q-par-n {
    font-size: 30px !important;
}

p.q-par-p {
  
}

p.q-par-p {
    font-family: 'Tungsten' !important;
    font-size: 25px !important;
    font-style: normal;

}
.empty-page-content {
    padding: 50px 55px!important;
  margin-top: 100px;
}


.item-num-main .item-num-main-inner, .item-num-main .wishlist {
    max-width: unset!important;
    flex: unset!important;
}
  
  a.btn.btn--small {
    padding: 0px 18px;
}
ul.social-sharing {
    width: 25%;
    padding-left: 0px;
    padding-top: 7px;
    position: relative;
    left: 0px;
}
  div#ZlistWishlist {
    float: unset !important;
  }

@media screen and (max-width: 767px){
.wishlist {
    padding-left: 5px;
}
  a.btn.btn--small {
    font-family: Tungsten;
    font-size: 17px;
}
ul.social-sharing {
    width: 20%;
    padding-left: 0;
    padding-top: 0;
    position: relative;
    left: 2px;
    top: -2px;
  
  
}
}



@media screen and (min-width: 1024px)and(max-width: 1366px){
ul.social-sharing {
    width: 22%;
    padding-left: 15px;
}

}


@media (min-width: 768px) and (max-width: 991px){
ul.social-sharing {

}
  .new-product .wishlist div#ZooomyList p.zooomypwishmsg {
    line-height: 23px;
  }
  a.btn.btn--small {
    font-family: Tungsten;
    font-size: 23px;
}
}

/*** account pages ***/
body.template-customers-order .section-header {
  padding-top: 100px!important;
  margin-bottom: 30px;
}
body.template-customers-order h1, .template-customers-account h1, 
body.template-customers-addresses header.section-header h1.add-tit {
  font-size: 45px;
  font-family: Tungsten;
  text-align: center;
}
.template-customers-account .section-header.bnbg {
  padding-top: 100px!important;
  margin-bottom: 60px;
}
body.template-customers-order .section-header a, .template-customers-account .section-header a, 
body.template-customers-addresses .section-header a {
  font-size: 18px;
}
.myaccount {
  padding-left: 30px;
}

.account-sidebar {
  width: 250px;
}
.account-sidebar li:nth-child(1) {
  margin-bottom: 15px;
}
.account-sidebar li:nth-child(1) h2 {
  margin-bottom: 5px;
}
.account-sidebar h2 {
  letter-spacing: 1px;
  font-family: Tungsten;
  font-size: 24px;
}
.account-details {
  width: calc(100% - 250px);
}
.account-details .myaccount__order-history, .account-details .account_details {
  display: none!important;
}
.account-details .myaccount__order-history.active, .account-details .account_details.active {
  display: block!important;
}
.responsive-table a.btn.btn--small {
  font-size: 20px;
}
.address-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.address-list > li {
  width: 50%;
}
.address-list button {
  font-family: 'Tungsten';
  font-size: 18px;
}
.address-list p {
  font-size: 18px;
}
.customer-wrap {
  margin-bottom: 30px;
}
.customer-wrap {
  font-size: 16px;
}
.customer-details {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;*/
}
.customer-details li {
  padding: 0px 0px;
}
.order-table th, .order-table th a {
  font-family: Tungsten;
  font-size: 20px;
  letter-spacing: 1px;
}
.order-table td, .order-table td a {
  font-size: 18px;
}
.address-wrapper h3 {
  font-family: 'Tungsten';
}
.address-wrapper p {
  font-size: 18px;
}
.myaccount__order-history time, .myaccount__order-history p {
  font-size: 18px;
}
.account-nav .active a {
  border-bottom: 1px solid #000;
}


@media screen and (max-width: 989px) {
  .myaccount {
    
  }
}
@media screen and (max-width: 768px) {
  .account-sidebar {
    width: 150px;
  }
  .account-details {
    width: calc(100% - 150px);
  }
  .account-sidebar h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .section-header.bnbg {
    padding-top: 100px!important;
  }
  body.template-customers-addresses header.section-header h1.add-tit, 
  body.template-customers-account .section-header.bnbg h1 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
  .customer-details {
    justify-content: center;
  }
  .myaccount {
    padding-left: 10px;
  }
  .account-sidebar {
    width: 100%;
  }
  .account-details {
    width: 100%;
  }
  .account-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .account-nav li {
    padding: 0px 5px;
  }
  .account-sidebar h2 {
    font-size: 18px;
  }
  .account-details .responsive-table {
    font-size: 16px;
  }
  .account-details .responsive-table th::before,
  .account-details .responsive-table td::before {
    font-size: 16px;
  }
  body.template-customers-account .myaccount .grid__item {
    padding-left: 0px;
  }
  .responsive-table th, .responsive-table td {
    padding: 16px;
  }
  .address-list>li {
    width: 100%;
  }
  .account-details >.grid__item {
    padding-left: 0px;
  }
  .order-table th, .order-table th a {
    font-size: 18px;
  }
}

/*** end account pages ***/

@media screen and (max-width: 1150px) {
  .myaccount__order-history{
    padding-left: 0;
  }
  .myaccount{
    
  }
}


body .grid-view-item__image-wrapper.product-card__image-wrapper>div{
  padding-top: 0!important;
}

button.needsclick.go3894874857.kl-private-reset-css-Xuajs1, input.needsclick.go1917793270.kl-private-reset-css-Xuajs1{
  font-family: 'Kepler-Std-Light'!important;
} 

input.needsclick.go1917793270.kl-private-reset-css-Xuajs1::-webkit-input-placeholder {
    font-family: 'Kepler-Std-Light'!important;
}



.new-product .product-right .product-single__meta form .product-form__controls-group label{
  font-size: 25px;
}


.collection-header.bg.dafault-template-header .boost-pfs-filter-top-sorting-wrapper{
	opacity:0;
    visibility: hidden;
}




#ZoomyWishlistPage .ZoomyWishlistPageGrid .zbodytitle{
  position: relative;
}


.addcartbtn.zopencartlink{
  background: #222d2d;
}

.template-customers-addresses .page-width .grid.myaccount{
  padding-left: 68px;
}

.template-customers-order .section-header .sub-head{
  margin-top: 30px;
}