<div class="page-width">
  <div class="grid">
  {%comment%}  <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
{%endcomment%}
      <div class="rte">
        <div class="landing-balloon">
    <img src="https://cdn.shopify.com/s/files/1/0573/2201/2880/files/imgpsh_fullsize_anim_4.png?v=1625040501" class="forDesktop" alt="logo">
    <img src="https://cdn.shopify.com/s/files/1/0573/2201/2880/files/imgpsh_fullsize_anim_1.png?v=1625034920" class="forMobile" alt="logo">
  </div>
        <div class="about-main_Div">
        
        
        
        <div class="page-slide page-slide2 slide_about active">
    <div class="aboutPage middle-content">
     {{ page.content }}
    </div>
  </div>
     
           
      </div>
        </div>
    
 
    
    
    </div>  
  </div>
</div>
